/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/******************************* VENDORS ****************************************/
/********************************* HELPERS *******************************************/
:root {
  --max-container-widht: 1390px;
  --section-border-radius: 8px;
  --purple-color: #78479d;
  --purple-btn-color: #b884de;
  --brown-color: #776753;
  --pinc-background-color: #cb2a67;
  --card-pinc-background-color: #da3976;
  --fb-background-color: #0081ff;
  --blue-background-color: #0177bb;
  --orang-background-color: #e57531;
  --yellow-background-color: #f7a72b;
  --green-color: #a7c448;
  --quality-background-color: #fff9f1;
  --dark-gray-color: #3a4663;
  --light-text-gray-color: #7887ac;
  --light-gray-color: #6b758d;
  --title-light-gray-color: #bbc0d4;
  --light-gray-background-color: #f9fafe;
  --light-color: #ffffff; }

/******************************* BASE ****************************************/
@font-face {
  font-family: 'Freight Text Pro';
  src: url("../fonts/freight-text-pro-book.woff") format("woff"); }

@font-face {
  font-family: 'Avenir Next Cyr Regular';
  src: url("../fonts/AvenirNextCyr-Regular.eot");
  src: url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body,
html {
  font-family: 'Freight Text Pro', arial; }

.light-font {
  color: var(--light-color); }

ul {
  padding-left: 0; }
  ul li {
    list-style: none; }

*:focus {
  outline: none; }

.section {
  max-width: var(--max-container-widht);
  margin: 0 auto 21px auto;
  border-radius: var(--section-border-radius); }

.hidden {
  visibility: hidden;
  display: none; }

/******************************* COMPONENTS ****************************************/
.header-wrapper {
  position: -webkit-sticky;
  position: sticky;
  background-color: #ffffff;
  top: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header ul.header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0; }
    .header ul.header-menu li {
      margin: 0 28px; }
      .header ul.header-menu li a {
        color: var(--light-gray-color);
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        text-decoration: none;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly; }
        .header ul.header-menu li a .amount {
          color: #ffffff;
          font-size: 24px;
          font-weight: 900;
          line-height: 32px;
          padding-bottom: 10px; }
    .header ul.header-menu .cart-with-itmes {
      height: 42px;
      width: 68px;
      border-radius: 12px;
      background-color: #e57531; }
    .header ul.header-menu .currency-select {
      margin-right: 0; }
      .header ul.header-menu .currency-select select {
        height: 42px;
        width: 128px;
        border: 1px solid #e2e5eb;
        border-radius: 12px;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
        background: url("../assets/icons/down-arrow.png") 90%/15% no-repeat #fff;
        padding-left: 14px; }

.shadow-header .header-wrapper {
  -webkit-box-shadow: 0 2px 4px 0 rgba(67, 79, 121, 0.2);
          box-shadow: 0 2px 4px 0 rgba(67, 79, 121, 0.2); }

.orange-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--orang-background-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .orange-button a {
    color: #ffffff;
    text-decoration: none; }

.green-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--green-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .green-button a {
    color: #ffffff;
    text-decoration: none; }

.pinc-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--pinc-background-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .pinc-button a {
    color: #ffffff;
    text-decoration: none; }

.yellow-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--yellow-background-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .yellow-button a {
    color: #ffffff;
    text-decoration: none; }

.blue-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--blue-background-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .blue-button a {
    color: #ffffff;
    text-decoration: none; }

.purple-button {
  height: 60px;
  border-radius: 8px;
  background-color: var(--purple-color);
  color: #ffffff;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  font-size: 21px;
  font-weight: 900;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .purple-button a {
    color: #ffffff;
    text-decoration: none; }

.message {
  max-width: 1171px; }
  .message__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 25px 17px 31px; }
    .message__wrapper .item {
      font-size: 24px;
      font-weight: 300;
      line-height: 31px; }
    .message__wrapper .cart {
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      padding-left: 28px;
      border-left: 1px solid rgba(250, 250, 250, 0.5); }

.added-to-cart-message {
  background-color: var(--orang-background-color);
  color: #ffffff; }

/******************************* LAYOUT ****************************************/
.footer {
  height: 414px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .footer img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
  .footer .sociallinks ul,
  .footer .secondary-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .footer .sociallinks ul li:hover,
    .footer .secondary-nav ul li:hover {
      -webkit-filter: contrast(40%);
              filter: contrast(40%);
      -webkit-transition: all 0.35s ease-in-out;
      transition: all 0.35s ease-in-out; }
  .footer .sociallinks ul {
    width: 174px;
    margin: 45px 0 39px 0; }
    .footer .sociallinks ul li a span {
      height: 46px;
      width: 46px;
      display: block; }
    .footer .sociallinks ul .fb {
      background-image: url("../assets/icons/fb.svg"); }
    .footer .sociallinks ul .tw {
      background-image: url("../assets/icons/tw.svg"); }
    .footer .sociallinks ul .inst {
      background-image: url("../assets/icons/inst.svg"); }
  .footer .secondary-nav ul {
    width: 701px;
    margin: 0; }
    .footer .secondary-nav ul li a {
      text-decoration: none;
      color: #4d5057;
      font-size: 18px;
      font-weight: 300;
      line-height: 21px;
      position: relative; }
    .footer .secondary-nav ul li a:after {
      content: '';
      position: absolute;
      left: 0;
      display: inline-block;
      height: 1em;
      width: 100%;
      border-bottom: 1px solid #4d5057;
      margin-top: 10px;
      opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
      -webkit-transform: scale(0, 1);
              transform: scale(0, 1); }
    .footer .secondary-nav ul li a:hover:after {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); }
  .footer .copyright {
    margin: 40px 0 0 0;
    height: 21px;
    opacity: 0.4;
    color: #232c4e;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px; }

/******************************* SECTIONS ****************************************/
.slider {
  margin-bottom: 76px; }
  .slider .slider-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1020px;
    margin: 40px auto 0 auto; }
    .slider .slider-wrapper__info--title {
      color: #3a4663;
      font-size: 60px;
      font-weight: bold;
      line-height: 64px;
      text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-bottom: 31px;
      max-width: 460px; }
    .slider .slider-wrapper__info--text {
      color: #686d7b;
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
      text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      max-width: 421px;
      text-align: justify;
      margin-bottom: 3rem; }
      .slider .slider-wrapper__info--text span {
        font-weight: bold; }
    .slider .slider-wrapper__info--links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .slider .slider-wrapper__info--links a {
        text-decoration: none; }
      .slider .slider-wrapper__info--links .button-orange {
        height: 60px;
        width: 187px;
        border-radius: 8px;
        background-color: var(--orang-background-color);
        -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.28);
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.28);
        color: #ffffff;
        display: block;
        font-size: 21px;
        font-weight: 900;
        line-height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 38px; }
      .slider .slider-wrapper__info--links .link-orange-wrapper {
        border-bottom: 3px dotted var(--orang-background-color);
        padding-bottom: 2px; }
      .slider .slider-wrapper__info--links .link-orange {
        color: var(--orang-background-color);
        font-size: 21px;
        font-weight: 600;
        line-height: 28px; }

.featured {
  background-color: var(--light-gray-background-color);
  height: 169px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .featured .featured-in {
    color: var(--title-light-gray-color);
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    text-align: center;
    margin-bottom: 33px;
    margin-top: 29px; }
  .featured ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1080px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto; }

.quality-section {
  background-color: var(--quality-background-color); }
  .quality-section__title {
    color: var(--brown-color);
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    padding-top: 35px; }
    .quality-section__title sup {
      color: #b5a38d;
      font-size: 23px;
      font-weight: bold;
      line-height: 31px; }
  .quality-section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 53px 73px; }
    .quality-section__body--aside {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .quality-section__body--aside .quality__info--badge {
        background-color: var(--orang-background-color);
        width: 191px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #fff9f1;
        text-align: center;
        font-size: 21px;
        font-weight: 900;
        line-height: 24px;
        margin: 1.5px; }
        .quality-section__body--aside .quality__info--badge:nth-child(1) {
          border-radius: 12px 0 0 0; }
        .quality-section__body--aside .quality__info--badge:nth-child(2) {
          border-radius: 0 12px 0 0; }
        .quality-section__body--aside .quality__info--badge:nth-child(5) {
          border-radius: 0 0 0 12px; }
        .quality-section__body--aside .quality__info--badge:nth-child(6) {
          border-radius: 0 0 12px 0; }
    .quality-section__body--main {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      padding-left: 76px; }
  .quality-section .quality__info--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 26px; }
    .quality-section .quality__info--card:last-child {
      padding-bottom: 0; }
    .quality-section .quality__info--card--img-wrapper {
      margin-top: 7px;
      width: 38px;
      padding-right: 14px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .quality-section .quality__info--card--info {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }
    .quality-section .quality__info--card--img {
      -ms-flex-item-align: baseline;
          align-self: baseline; }
    .quality-section .quality__info--card p {
      color: var(--brown-color);
      font-size: 19px;
      line-height: 25px;
      margin: 0; }
    .quality-section .quality__info--card .title {
      font-weight: bold; }
    .quality-section .quality__info--card .text {
      font-weight: 500; }

.quality-small-section {
  max-width: 1171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 74px auto 64px; }
  .quality-small-section .quality__info--badge {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .quality-small-section .quality__info--badge--info p {
      color: #3a4663;
      font-size: 29.26px;
      font-weight: 900;
      line-height: 38px;
      margin: 0 1.5rem; }

.meet-doctor {
  background-color: var(--blue-background-color); }
  .meet-doctor-wrapper {
    padding: 63px 99px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .meet-doctor__info--title {
    color: #ffffff;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    margin-bottom: 19px; }
  .meet-doctor__info--text {
    max-width: 580px;
    color: #fffefd;
    font-size: 21px;
    font-weight: 500;
    line-height: 30px; }
  .meet-doctor__info--coolness {
    margin-top: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .meet-doctor__info--card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .meet-doctor__info--card:nth-child(1) {
      max-width: 136px; }
    .meet-doctor__info--card:nth-child(2) {
      max-width: 236px; }
    .meet-doctor__info--card:nth-child(3) {
      max-width: 164px; }
    .meet-doctor__info--card .num {
      margin: 21px 0 21px;
      color: #ffffff;
      font-size: 72px;
      font-weight: 500;
      line-height: 56px;
      text-align: center; }
    .meet-doctor__info--card .text {
      margin-top: 0;
      color: #ffffff;
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
      text-align: center; }
  .meet-doctor__img img {
    display: block; }

.choose-spray__title {
  color: #3a4663;
  font-size: 44px;
  font-weight: bold;
  line-height: 58px;
  text-align: center;
  padding: 62px 0 14px 0; }

.choose-spray__subtitle {
  color: #686d7b;
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: center; }

.choose-spray__tabs {
  padding: 52px 103px 0; }
  .choose-spray__tabs--buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-top: 63px;
    margin-bottom: 47px; }
    .choose-spray__tabs--buy-info {
      padding-top: 20px; }
      .choose-spray__tabs--buy-info .buy-info__title {
        color: #3a4663;
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        font-family: 'Avenir Next Cyr Regular'; }
      .choose-spray__tabs--buy-info .buy-info__stars {
        padding: 12px 0; }
      .choose-spray__tabs--buy-info .buy-info__quantity {
        padding: 24px 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #3a4663;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px; }
        .choose-spray__tabs--buy-info .buy-info__quantity .counter {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          padding-left: 18px; }
          .choose-spray__tabs--buy-info .buy-info__quantity .counter > div {
            height: 46px;
            width: 46px;
            border: 1px solid #e2e5eb;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; }
            .choose-spray__tabs--buy-info .buy-info__quantity .counter > div img {
              padding: 0; }
            .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(1) {
              border-radius: 8px 0 0 8px;
              cursor: pointer; }
            .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(2) {
              width: 51px;
              color: #243f83;
              font-size: 24px;
              font-weight: bold;
              line-height: 32px; }
              .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(2) input {
                border: none;
                text-align: center;
                width: 47px; }
              .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(2) input[type='number']::-webkit-inner-spin-button,
              .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(2) input[type='number']::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0; }
              .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(2) input[type='number'] {
                -moz-appearance: textfield; }
            .choose-spray__tabs--buy-info .buy-info__quantity .counter > div:nth-child(3) {
              border-radius: 0 8px 8px 0;
              cursor: pointer; }
        .choose-spray__tabs--buy-info .buy-info__quantity img {
          padding-left: 18px; }
      .choose-spray__tabs--buy-info .buy-info__promo {
        color: #7887ac;
        max-width: 347px;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px;
        padding-bottom: 34px; }
        .choose-spray__tabs--buy-info .buy-info__promo strong {
          color: #3a4663;
          font-size: 18px;
          font-weight: bold;
          line-height: 23px;
          display: block; }
      .choose-spray__tabs--buy-info .buy-info__price {
        color: #3a4663;
        font-size: 24px;
        font-weight: 300;
        line-height: 31px; }
      .choose-spray__tabs--buy-info .buy-info__discount {
        text-align: center;
        margin-top: 36px; }
        .choose-spray__tabs--buy-info .buy-info__discount p {
          margin: 8px 0; }
        .choose-spray__tabs--buy-info .buy-info__discount p:first-child {
          color: #e57531;
          font-size: 19px;
          font-weight: 300;
          line-height: 25px; }
        .choose-spray__tabs--buy-info .buy-info__discount p:last-child {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          .choose-spray__tabs--buy-info .buy-info__discount p:last-child img {
            margin: 0 7px; }
        .choose-spray__tabs--buy-info .buy-info__discount--checkbox {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          height: 21px;
          width: 21px;
          border: 1px solid #cecece;
          border-radius: 3px;
          background-color: #ffffff;
          -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.24);
          margin-right: 11px;
          cursor: pointer; }
      .choose-spray__tabs--buy-info .buy-info__payment-method {
        margin-top: 64px; }
      .choose-spray__tabs--buy-info .button-green {
        height: 60px;
        border-radius: 8px;
        background-color: var(--green-color);
        color: #ffffff;
        display: block;
        font-size: 21px;
        font-weight: 900;
        line-height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-decoration: none; }
  .choose-spray__tabs--description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .choose-spray__tabs--description .column {
      max-width: 389px; }
      .choose-spray__tabs--description .column .info-card__text ul li {
        padding-left: 8px; }
      .choose-spray__tabs--description .column-1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .choose-spray__tabs--description .column-1 .info-card {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
        .choose-spray__tabs--description .column-1 .info-card__text--sprays {
          margin: 24px 0 31px 0; }
      .choose-spray__tabs--description .column-3 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .choose-spray__tabs--description .column-3 .info-card {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1; }
          .choose-spray__tabs--description .column-3 .info-card:last-child {
            margin-top: 8px; }
    .choose-spray__tabs--description .info-card {
      background-color: #f7f9fe;
      border-radius: var(--section-border-radius);
      padding: 25px 40px; }
      .choose-spray__tabs--description .info-card__title {
        color: #3a4663;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        margin-bottom: 23px; }
      .choose-spray__tabs--description .info-card__text {
        color: #7887ac;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px; }
        .choose-spray__tabs--description .info-card__text ul {
          padding-left: 25px;
          margin-top: 0; }
          .choose-spray__tabs--description .info-card__text ul li {
            list-style: disc; }
        .choose-spray__tabs--description .info-card__text img {
          margin-left: -22px; }
  .choose-spray__tabs--tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .choose-spray__tabs--tab .tab-toggle.active-tab::after {
      content: '';
      position: relative;
      right: -24px;
      top: 39px;
      width: 0;
      height: 0;
      border-left: 34px solid transparent;
      border-right: 34px solid transparent;
      clear: both; }
    .choose-spray__tabs--tab .tab-toggle {
      height: 202px;
      width: 221px;
      border-radius: 8px;
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
              box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
      color: #ffffff;
      font-size: 29px;
      font-weight: bold;
      line-height: 33px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      cursor: pointer;
      display: grid; }
      .choose-spray__tabs--tab .tab-toggle p {
        margin: 50px 0 60px 0; }
      .choose-spray__tabs--tab .tab-toggle-1 {
        background-color: var(--green-color); }
      .choose-spray__tabs--tab .tab-toggle-1.active-tab::after {
        border-top: 24px solid var(--green-color); }
      .choose-spray__tabs--tab .tab-toggle-2 {
        background-color: var(--yellow-background-color); }
      .choose-spray__tabs--tab .tab-toggle-2.active-tab::after {
        border-top: 24px solid var(--yellow-background-color); }
      .choose-spray__tabs--tab .tab-toggle-3 {
        background-color: var(--card-pinc-background-color); }
      .choose-spray__tabs--tab .tab-toggle-3.active-tab::after {
        border-top: 24px solid var(--card-pinc-background-color); }
      .choose-spray__tabs--tab .tab-toggle-4 {
        background-color: var(--blue-background-color); }
      .choose-spray__tabs--tab .tab-toggle-4.active-tab::after {
        border-top: 24px solid var(--blue-background-color); }
      .choose-spray__tabs--tab .tab-toggle-5 {
        background-color: var(--orang-background-color); }
      .choose-spray__tabs--tab .tab-toggle-5.active-tab::after {
        right: -37px;
        border-top: 24px solid var(--orang-background-color); }
    .choose-spray__tabs--tab .active-tab p {
      margin: 46px 0 0 0; }
  .choose-spray__tabs .tabs--items:not(:first-child) {
    display: none; }

.formula__wrapper {
  margin: 40px 106px;
  border: 1px solid #e2e5eb;
  border-radius: 8px; }

.formula__title {
  margin: 38px 0 60px 0;
  color: #3a4663;
  font-size: 30px;
  font-weight: 900;
  line-height: 40px;
  text-align: center; }

.formula__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .formula__info .formula-wrapper__card {
    max-width: 400px;
    padding-bottom: 78px; }
    .formula__info .formula-wrapper__card .circle {
      margin: 0 auto -32%;
      height: 141px;
      width: 141px;
      border-radius: 50%;
      background-color: #f7f9fe; }
    .formula__info .formula-wrapper__card .title {
      color: var(--green-color);
      font-size: 29px;
      font-weight: bold;
      line-height: 38px;
      text-align: center;
      padding-bottom: 9px; }
    .formula__info .formula-wrapper__card .text {
      color: #7887ac;
      font-size: 21px;
      font-weight: 500;
      line-height: 28px;
      text-align: center; }

.formula-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 60px; }
  .formula-cta .link-green-wrapper {
    border-bottom: 3px dotted var(--green-color);
    padding-bottom: 2px; }
    .formula-cta .link-green-wrapper a {
      color: var(--green-color);
      font-size: 24px;
      font-weight: 600;
      line-height: 28px;
      text-decoration: none; }

.productpage .formula__info .title {
  color: var(--blue-background-color); }

.productpage .formula-cta {
  display: none;
  visibility: hidden; }

.customers {
  background-color: var(--pinc-background-color); }
  .customers-wrapper {
    padding: 48px 110px 41px; }
    .customers-wrapper__title {
      color: #ffffff;
      font-size: 44px;
      font-weight: bold;
      line-height: 58px;
      text-align: center;
      margin-top: 0; }
      .customers-wrapper__title p {
        margin-top: 0; }
    .customers-wrapper__cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-top: 109px; }
    .customers-wrapper__card {
      width: 362px;
      border-radius: 8px;
      background-color: var(--card-pinc-background-color);
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
              box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .customers-wrapper__card--img {
        margin-top: -65px; }
      .customers-wrapper__card .orange-star {
        margin-top: 24px; }
        .customers-wrapper__card .orange-star img {
          margin: 0 5px; }
      .customers-wrapper__card p {
        color: #ffffff;
        margin-top: 19px;
        font-size: 24px;
        line-height: 32px;
        text-align: center; }
      .customers-wrapper__card p.text {
        width: 262px; }
      .customers-wrapper__card p.name {
        margin: 0;
        font-weight: bold;
        padding-bottom: 29px; }
    .customers-wrapper__bg-card {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 26px;
      border-radius: 8px;
      background-color: var(--card-pinc-background-color);
      -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
              box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
      margin: 30px 0 45px; }
      .customers-wrapper__bg-card--text {
        margin: 0 auto; }
        .customers-wrapper__bg-card--text p {
          color: #ffffff;
          font-size: 24px;
          font-weight: 500;
          line-height: 31px;
          max-width: 295px; }
          .customers-wrapper__bg-card--text p:nth-child(odd) {
            font-style: italic; }
          .customers-wrapper__bg-card--text p:nth-child(even) {
            margin: 36px 0 0 0; }
          .customers-wrapper__bg-card--text p:last-child {
            margin-top: 0; }

.chat {
  background-color: var(--fb-background-color); }
  .chat .chat-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 64px 62px 0 111px; }
    .chat .chat-wrapper .chat-info {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      margin-bottom: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly; }
      .chat .chat-wrapper .chat-info__title {
        color: #ffffff;
        font-size: 44px;
        font-weight: bold;
        line-height: 50px;
        max-width: 549px; }
      .chat .chat-wrapper .chat-info__text {
        color: #d9ebfc;
        font-size: 24px;
        font-weight: 500;
        line-height: 31px;
        padding: 25px 0 33px; }
      .chat .chat-wrapper .chat-info__cta {
        height: 78px;
        width: 362px;
        border-radius: 39px;
        background-color: #0081ff;
        -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.23);
                box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.23);
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .chat .chat-wrapper .chat-info__cta:hover {
          -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.23);
                  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.23);
          -webkit-transform: translate(0, -2px);
                  transform: translate(0, -2px); }
        .chat .chat-wrapper .chat-info__cta--wrapper {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-decoration: none; }
          .chat .chat-wrapper .chat-info__cta--wrapper p {
            font-size: 24px;
            line-height: 29px;
            color: #ffffff;
            margin: 0 0 0 12px; }
    .chat .chat-wrapper .chat-img img {
      display: block; }

.faq-section {
  background-color: var(--orang-background-color); }
  .faq-section__title {
    padding: 45px;
    color: #ffffff;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .faq-section__info--card {
    width: 762px;
    border-radius: 12px;
    background-color: var(--orang-background-color);
    -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.14);
    padding: 35px 33px;
    margin: 0 auto 1rem; }
    .faq-section__info--card .card__header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      cursor: pointer; }
      .faq-section__info--card .card__header--title {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px; }
    .faq-section__info--card .card__header.active .card__header--toggle img {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
      -webkit-transition: -webkit-transform 0.4s ease-out;
      transition: -webkit-transform 0.4s ease-out;
      transition: transform 0.4s ease-out;
      transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out; }
    .faq-section__info--card .card__panel {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height 0.2s ease-out;
      transition: max-height 0.2s ease-out; }
      .faq-section__info--card .card__panel p {
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
        line-height: 26px;
        margin-bottom: 0; }
  .faq-section__show-more {
    padding: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .faq-section__show-more .show-more {
      color: #ffffff;
      font-size: 21px;
      text-align: center;
      font-weight: bold;
      line-height: 28px;
      border-bottom: 3px dotted #ffffff;
      padding-bottom: 2px;
      cursor: pointer; }

.inst-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .inst-wrapper__photos .sociallinks ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0; }
    .inst-wrapper__photos .sociallinks ul li img {
      max-width: 263px;
      max-height: 263px;
      border-radius: var(--section-border-radius); }
  .inst-wrapper__text {
    height: 56px;
    width: 263px;
    margin-top: -3.7rem;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.62);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .inst-wrapper__text p {
      color: #ffffff;
      font-size: 23px;
      font-weight: bold;
      line-height: 31px;
      margin: 0; }

.subscribe {
  background-color: var(--purple-color);
  height: 405px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .subscribe .es_form_container {
    max-width: 564px; }
    .subscribe .es_form_container .es_shortcode_form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .subscribe .es_form_container .es_shortcode_form .es_button {
        padding: 0; }
      .subscribe .es_form_container .es_shortcode_form .es_lablebox {
        display: none;
        visibility: hidden; }
      .subscribe .es_form_container .es_shortcode_form .es_msg {
        background: #fff;
        border-radius: 8px;
        padding: 1rem; }
  .subscribe h2 {
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    margin-top: 43px;
    margin-bottom: 0; }
  .subscribe p {
    max-width: 607px;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    text-align: center;
    margin-bottom: 56px; }
  .subscribe form {
    margin-bottom: 73px; }
  .subscribe input[type='email'] {
    height: 74px;
    width: 380px;
    border-radius: 12px;
    color: #8f919a;
    font-size: 24px;
    text-indent: 29px;
    padding: 0;
    border: none;
    font-family: 'Freight Text Pro', arial; }
  .subscribe input[type='button'] {
    font-family: 'Freight Text Pro', arial;
    height: 74px;
    width: 174px;
    border-radius: 12px;
    background-color: var(--purple-btn-color);
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
    border: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-left: 10px;
    cursor: pointer; }

.related-products {
  max-width: 1171px;
  margin-bottom: 100px; }
  .related-products__title {
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    margin-bottom: 47px; }
  .related-products__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .related-products__items .products__card--img {
      height: 324px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .related-products__items .products__card--img img {
        max-height: 324px;
        max-width: 256px; }
    .related-products__items .name {
      color: #3a4663;
      font-family: 'Avenir Next Cyr Regular';
      font-size: 32px;
      font-weight: 600;
      line-height: 44px;
      text-align: center; }
    .related-products__items .price {
      color: #7887ac;
      font-family: 'FreightText Pro';
      font-size: 21px;
      font-weight: 500;
      line-height: 28px;
      text-align: center; }

.reviews {
  max-width: 1171px;
  border: 1px solid #e2e5eb;
  margin-bottom: 104px; }
  .reviews__title {
    margin-top: 29px;
    color: #3a4663;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    text-align: center; }
  .reviews__section {
    padding: 52px; }
    .reviews__section--info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .reviews__section--info .item-name {
        color: #3a4663;
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.58px;
        line-height: 32px; }
        .reviews__section--info .item-name span {
          padding-right: 8px;
          color: #acb2c0;
          font-size: 24px;
          font-style: italic;
          font-weight: 500;
          letter-spacing: 0.58px;
          line-height: 31px; }
      .reviews__section--info .write-review {
        border-bottom: 3px dotted #3a4663;
        padding-bottom: 1px; }
        .reviews__section--info .write-review a {
          color: #3a4663;
          font-size: 21px;
          font-weight: bold;
          line-height: 28px;
          text-decoration: none; }
    .reviews__section--testimonials {
      margin-top: 35px; }
      .reviews__section--testimonials .testimonial {
        border-bottom: 2px solid #e2e5eb;
        padding: 21px 0 50px 0; }
        .reviews__section--testimonials .testimonial:first-child {
          border-top: 2px solid #e2e5eb; }
        .reviews__section--testimonials .testimonial .name {
          color: #3a4663;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 0.58px;
          line-height: 32px; }
        .reviews__section--testimonials .testimonial .stars {
          color: #3a4663;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 23px;
          margin: 16px 0; }
          .reviews__section--testimonials .testimonial .stars img {
            width: 17px; }
          .reviews__section--testimonials .testimonial .stars span {
            padding-left: 12px; }
        .reviews__section--testimonials .testimonial .text {
          color: #686d7b;
          font-size: 18px;
          font-weight: 300;
          letter-spacing: 0.44px;
          line-height: 33px; }
      .reviews__section--testimonials .j-show-more-reviews {
        text-align: center;
        cursor: pointer; }
      .reviews__section--testimonials .show-more-reviews {
        margin-top: 30px;
        display: block;
        color: #3a4663;
        font-size: 21px;
        font-weight: bold;
        line-height: 28px; }

.spraysecondaryinfo {
  max-width: 1171px;
  margin-bottom: 120px; }
  .spraysecondaryinfo__title {
    color: #3a4663;
    font-size: 30px;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    margin-bottom: 82px; }
    .spraysecondaryinfo__title span {
      color: var(--blue-background-color); }
  .spraysecondaryinfo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
    .spraysecondaryinfo__info--item {
      max-width: 308px;
      padding-bottom: 78px; }
      .spraysecondaryinfo__info--item .circle {
        margin: 0 auto -38%;
        height: 141px;
        width: 141px;
        border-radius: 50%;
        background-color: #f7f9fe; }
      .spraysecondaryinfo__info--item .text {
        color: #3a4663;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        text-align: center; }

.howtouse {
  max-width: 1171px;
  background-color: #f7f9fe; }
  .howtouse__wrapper {
    padding: 55px; }
    .howtouse__wrapper--title {
      color: #3a4663;
      font-size: 30px;
      font-weight: 900;
      line-height: 40px;
      text-align: center; }
    .howtouse__wrapper--cards {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      margin: 85px 0 65px; }
      .howtouse__wrapper--cards .howtouse__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .howtouse__wrapper--cards .howtouse__card .title {
          color: #3a4663;
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 0.61px;
          line-height: 33px;
          text-align: center;
          margin-bottom: 9px; }
        .howtouse__wrapper--cards .howtouse__card .info {
          width: 191px;
          color: #686d7b;
          font-size: 21px;
          font-weight: 500;
          line-height: 28px;
          text-align: center;
          margin: 0; }
    .howtouse__wrapper--dosage--title {
      color: #3a4663;
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0.61px;
      line-height: 33px;
      text-align: center; }
    .howtouse__wrapper--dosage--info {
      color: #686d7b;
      font-size: 21px;
      font-weight: 500;
      line-height: 30px;
      text-align: center; }

.product-description {
  max-width: 1171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-description .column {
    max-width: 380px; }
    .product-description .column .info-card__text ul li {
      padding-left: 8px; }
    .product-description .column-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .product-description .column-1 .info-card {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
      .product-description .column-1 .info-card__text--sprays {
        margin: 24px 0 31px 0; }
    .product-description .column-3 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .product-description .column-3 .info-card {
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1; }
        .product-description .column-3 .info-card:last-child {
          margin-top: 13px; }
  .product-description .info-card {
    background-color: #f7f9fe;
    border-radius: var(--section-border-radius);
    padding: 25px 40px; }
    .product-description .info-card__title {
      color: #3a4663;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      margin-bottom: 23px; }
    .product-description .info-card__text {
      color: #7887ac;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px; }
      .product-description .info-card__text ul {
        padding-left: 25px;
        margin-top: 0; }
        .product-description .info-card__text ul li {
          list-style: disc; }
      .product-description .info-card__text img {
        margin-left: -22px; }

.product-additional-info {
  max-width: 1171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-additional-info .product__additional-info--cards {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 23.5%;
    border: 1px solid #e2e5eb;
    border-radius: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.2rem 0; }
    .product-additional-info .product__additional-info--cards .cards__img {
      height: 45px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .product-additional-info .product__additional-info--cards .cards__info--title {
      color: #3a4663;
      font-size: 20px;
      font-weight: bold;
      line-height: 27px;
      text-align: center;
      margin: 14px auto 9px; }
    .product-additional-info .product__additional-info--cards .cards__info--text {
      max-width: 196px;
      color: #7887ac;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      text-align: center; }
    .product-additional-info .product__additional-info--cards:nth-child(3) .cards__info--title {
      width: 151px;
      line-height: 22px; }

.product-main-info {
  max-width: 1171px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px; }
  .product-main-info .choose-spray__tabs--buy-img,
  .product-main-info .choose-spray__tabs--buy-info {
    width: 50%; }
  .product-main-info .choose-spray__tabs--buy-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  .product-main-info .choose-spray__tabs--buy-info {
    max-width: 347px; }
    .product-main-info .choose-spray__tabs--buy-info .buy-all-products {
      margin-top: 13px;
      height: 60px;
      border: 1px solid #e2e5eb;
      border-radius: 8px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 1rem; }
      .product-main-info .choose-spray__tabs--buy-info .buy-all-products__text {
        color: #3a4663;
        font-size: 20px;
        font-weight: bold;
        line-height: 27px; }
      .product-main-info .choose-spray__tabs--buy-info .buy-all-products__price {
        color: #7887ac;
        font-size: 24px;
        font-weight: 500;
        line-height: 18px;
        text-align: right; }
    .product-main-info .choose-spray__tabs--buy-info .buy-info__discount p:first-child {
      color: #0177bb; }

.open-modal {
  cursor: pointer; }

.review-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(58, 70, 99, 0.87); }
  .review-modal .review-modal-content {
    height: 602px;
    width: 575px;
    border: 1px solid #e2e5eb;
    border-radius: 8px;
    background-color: #ffffff;
    margin: auto; }
    .review-modal .review-modal-content--close {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .review-modal .review-modal-content--close .close-btn {
        margin: 12px 12px 6px 12px;
        height: 25px;
        width: 25px;
        background-color: #b3bdd5;
        border-radius: 50%;
        cursor: pointer;
        display: block; }
        .review-modal .review-modal-content--close .close-btn:before, .review-modal .review-modal-content--close .close-btn:after {
          position: relative;
          left: 12px;
          content: ' ';
          height: 16px;
          width: 2px;
          background-color: #fff;
          display: block; }
        .review-modal .review-modal-content--close .close-btn:before {
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          top: 5px; }
        .review-modal .review-modal-content--close .close-btn:after {
          -webkit-transform: rotate(-45deg);
                  transform: rotate(-45deg);
          top: -11px; }
    .review-modal .review-modal-content--title {
      color: #3a4663;
      margin: 0 0 32px;
      font-size: 30px;
      font-weight: bold;
      line-height: 40px;
      text-align: center; }
    .review-modal .review-modal-content--rate {
      color: #7887ac;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px;
      text-align: center; }
      .review-modal .review-modal-content--rate .stars {
        margin: 14px auto 53px;
        width: 250px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
    .review-modal .review-modal-content--message form textarea {
      height: 232px;
      max-width: 492px;
      width: 100%;
      border: 1px solid #e2e5eb;
      border-radius: 12px;
      margin: auto;
      display: block;
      padding: 1rem;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 22px;
      color: #3a4663; }
      .review-modal .review-modal-content--message form textarea::-webkit-input-placeholder {
        color: #bfc3c9;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px; }
      .review-modal .review-modal-content--message form textarea:-ms-input-placeholder {
        color: #bfc3c9;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px; }
      .review-modal .review-modal-content--message form textarea::-ms-input-placeholder {
        color: #bfc3c9;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px; }
      .review-modal .review-modal-content--message form textarea::placeholder {
        color: #bfc3c9;
        font-size: 18px;
        font-weight: 300;
        line-height: 23px; }
    .review-modal .review-modal-content--message form .orange-button {
      width: 166px;
      margin: 30px auto; }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/******************************* PAGES ****************************************/
.allproducts {
  margin-top: 52px;
  margin-bottom: 45px; }
  .allproducts-title {
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .allproducts-subtitle {
    color: #686d7b;
    font-size: 24px;
    font-weight: 500;
    line-height: 31px;
    text-align: center; }
  .allproducts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1180px;
    margin: 0 auto;
    padding-top: 63px; }
    .allproducts-wrapper .products__card {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 33%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 60px; }
      .allproducts-wrapper .products__card--img {
        height: 324px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .allproducts-wrapper .products__card--img img {
          max-height: 324px;
          max-width: 256px; }
      .allproducts-wrapper .products__card .name {
        color: #3a4663;
        font-family: 'Avenir Next Cyr Regular';
        font-size: 32px;
        font-weight: 600;
        line-height: 44px;
        margin: 0;
        text-align: center; }
      .allproducts-wrapper .products__card .price {
        color: #7887ac;
        font-size: 21px;
        font-weight: 500;
        line-height: 28px;
        text-align: center;
        margin: 0 0 38px 0; }
      .allproducts-wrapper .products__card .green-button,
      .allproducts-wrapper .products__card .pinc-button,
      .allproducts-wrapper .products__card .yellow-button,
      .allproducts-wrapper .products__card .blue-button,
      .allproducts-wrapper .products__card .orange-button,
      .allproducts-wrapper .products__card .purple-button {
        width: 195px; }

.registration-flow {
  max-width: 540px;
  width: 100%;
  margin: 1rem auto 2rem; }
  .registration-flow__title {
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center;
    margin: 52px 0 43px; }
  .registration-flow__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .registration-flow__form label {
      color: #3a4663;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px; }
    .registration-flow__form input {
      height: 60px;
      width: 100%;
      border: 1px solid #e2e5eb;
      border-radius: 12px;
      background-color: #ffffff;
      margin: 12px 0 32px;
      font-size: 22px;
      color: #3a4663;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      padding: 0 1rem; }
    .registration-flow__form textarea {
      height: 186px;
      border: 1px solid #e2e5eb;
      border-radius: 12px;
      background-color: #ffffff;
      margin: 12px 0 32px; }
  .registration-flow__additional-info {
    color: #7887ac;
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    text-align: center;
    margin: 43px 0; }
    .registration-flow__additional-info .link-wrapper {
      border-bottom: 3px dotted var(--orang-background-color);
      padding-bottom: 2px;
      margin-left: 1rem; }
      .registration-flow__additional-info .link-wrapper a {
        color: var(--orang-background-color);
        text-decoration: none; }
    .registration-flow__additional-info--reset-password a {
      color: #7887ac;
      font-size: 24px;
      font-weight: 300;
      line-height: 31px;
      text-align: center;
      margin: 43px 0;
      text-decoration: none; }
  .registration-flow .forgot-password {
    text-align: right;
    margin-bottom: 53px; }
    .registration-flow .forgot-password a {
      color: #7887ac;
      font-size: 24px;
      font-weight: 300;
      line-height: 31px;
      text-decoration: none; }

.info-pages {
  max-width: 685px;
  margin: 0 auto;
  color: var(--light-text-gray-color);
  font-size: 19px;
  font-weight: 300;
  line-height: 25px; }
  .info-pages__title {
    margin: 49px 0;
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .info-pages h1 {
    margin: 49px 0;
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .info-pages h2 {
    color: var(--dark-gray-color);
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 0; }
  .info-pages p {
    margin: 0; }
  .info-pages .info-pages__text--subtitle {
    color: var(--dark-gray-color);
    margin-top: 2rem;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px; }
  .info-pages .info-pages__text--margin {
    margin-top: 1.5rem; }
  .info-pages .white-space-160 {
    margin-bottom: 160px; }
  .info-pages .faq-section {
    background-color: inherit; }
    .info-pages .faq-section__title {
      color: var(--dark-gray-color); }
    .info-pages .faq-section__info--card {
      background-color: inherit;
      border: 1px solid #e2e5eb;
      -webkit-box-shadow: none;
              box-shadow: none; }
      .info-pages .faq-section__info--card .card__header--title {
        color: var(--dark-gray-color); }
      .info-pages .faq-section__info--card .card__header--toggle {
        -webkit-filter: brightness(30%);
                filter: brightness(30%); }
      .info-pages .faq-section__info--card .card__panel p {
        color: var(--light-text-gray-color); }
    .info-pages .faq-section__show-more {
      visibility: hidden;
      display: none; }

.blog-page {
  margin-bottom: 140px; }
  .blog-page__title {
    margin: 42px 0;
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .blog-page__preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1188px;
    margin: 0 auto 40px; }
  .blog-page__pagiantion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: var(--orang-background-color);
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center; }
    .blog-page__pagiantion--item {
      padding: 0 0.7rem;
      cursor: pointer; }
    .blog-page__pagiantion .active {
      color: #3a4663; }

.blog_cards {
  max-width: 380px;
  border: 1px solid #e2e5eb;
  border-radius: 12px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.04); }
  .blog_cards--info {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .blog_cards .date {
    color: #7887ac;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    text-align: center; }
  .blog_cards .title {
    color: #3a4663;
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    text-align: center;
    padding: 14px 0; }
  .blog_cards .text {
    color: #7887ac;
    font-size: 19px;
    font-weight: 300;
    line-height: 25px;
    text-align: center; }
  .blog_cards .link-orange-wrapper {
    margin: 29px 0;
    border-bottom: 3px dotted var(--orang-background-color);
    padding-bottom: 1px; }
  .blog_cards .link-orange {
    color: var(--orang-background-color);
    font-size: 19px;
    font-weight: 600;
    line-height: 28px;
    text-decoration: none; }

.investors {
  max-width: 1171px; }
  .investors__title {
    margin: 52px 0 59px;
    color: #3a4663;
    font-size: 44px;
    font-weight: bold;
    line-height: 58px;
    text-align: center; }
  .investors__info--tabs {
    width: 100%;
    max-width: 840px;
    border-radius: 8px;
    background-color: #f7f9fe;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .investors__info--tabs .tab-toggle {
      width: 33%;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      cursor: pointer; }
      .investors__info--tabs .tab-toggle p {
        margin: 13px 0 16px;
        color: #7887ac;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        text-align: center; }
    .investors__info--tabs .tab-toggle.active-tab {
      border-radius: 8px;
      background-color: #e57531; }
      .investors__info--tabs .tab-toggle.active-tab p {
        color: #ffffff; }
  .investors__info--content .link-orange-wrapper {
    border-bottom: 3px dotted var(--orang-background-color);
    padding-bottom: 1px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content; }
    .investors__info--content .link-orange-wrapper .link-orange {
      color: var(--orang-background-color);
      font-size: 24px;
      font-weight: 500;
      text-decoration: none;
      line-height: 31px;
      text-align: center; }
  .investors__info--content__tabs--items-1 {
    margin-bottom: 60px; }
    .investors__info--content__tabs--items-1 h2 {
      max-width: 504px;
      color: #3a4663;
      font-size: 32px;
      font-weight: bold;
      line-height: 42px;
      text-align: center;
      margin: 59px auto 70px; }
    .investors__info--content__tabs--items-1 .stoks {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around; }
      .investors__info--content__tabs--items-1 .stoks .stoks-items__title {
        color: #3a4663;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        text-align: center;
        margin-bottom: 33px; }
    .investors__info--content__tabs--items-1 .link-orange-wrapper {
      margin: 29px auto; }
  .investors__info--content__tabs--items-2 .investors-news {
    max-width: 796px;
    margin: 0 auto;
    padding: 40px 0 62px;
    border-top: 1px solid #e2e5eb; }
    .investors__info--content__tabs--items-2 .investors-news:first-child {
      border-top: 0;
      padding-top: 64px; }
    .investors__info--content__tabs--items-2 .investors-news__date {
      color: #7887ac;
      font-size: 24px;
      font-weight: 300;
      line-height: 31px; }
    .investors__info--content__tabs--items-2 .investors-news__title {
      color: #3a4663;
      font-size: 24px;
      font-weight: bold;
      line-height: 32px; }
  .investors__info--content__tabs--items-3 img {
    border-radius: 8px;
    margin: 72px auto 31px;
    display: block; }
  .investors__info--content__tabs--items-3 .link-orange-wrapper {
    margin: 0 auto 146px auto; }
  .investors__info--content .tabs--items:not(:first-child) {
    display: none; }

/*# sourceMappingURL=style.css.map */
